<?xml version="1.0" encoding="utf-8"?><body><menu><column>系统设置</column><values>256</values></menu><menu><column>新闻中心</column><values>1</values></menu><menu><column>产品中心</column><values>2</values></menu><menu><column>留言管理</column><values>4</values></menu><menu><column>会员管理</column><values>8</values></menu><menu><column>招聘管理</column><values>16</values></menu><menu><column>下载管理</column><values>32</values></menu><menu><column>图册管理</column><values>64</values></menu><menu><column>内容管理</column><values>128</values></menu><menu><column>表单自定义</column><values>512</values></menu><menu><column>题库管理</column><values>4096</values></menu></body>