.data{
    display: none;
}

.main_select_div{
    float: left;
    height: 40px;
    margin-left: 30px;
    margin-right: 10px;
}

.main_yearmonth{
    width: 95px;
    text-align: left;
    font-size: 14px;
    border-radius: 8px;
    height:25px;
}

.chart_div_half{
    width: 48%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
    margin-bottom: 60px;
}

.chart_div_one{
    width: 95%;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 20px;
    margin-bottom: 60px;
    float: left;
}


.chart_div_half h2,.chart_div_one h2{
    text-align: center;
    font-size: 17px;
    font-family: "微软雅黑";
    color: #555555;
}

.div_line{
    border-bottom: 1px solid #000000!important;
    height: 10px;
    width: 100%;
    float: left;
}

.main_date_div{
    float: left;
    height: 40px;
    margin-left: 30px;
    margin-right: 10px;
}

.date_class{
    width: 110px;
    text-align: left;
    font-size: 14px;
    border-radius: 8px;
    height: 20px;
}

.main_date_div .button{
    line-height: 25px;
    text-align: center;
    width: 60px;
    height: 25px;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    background-color: #008800;
    color: #FFF;
}


.choice_zt{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_zt{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_button_zt .button_zt{
    float: left;
    margin-left: 10px;
    line-height: 25px;
    text-align: center;
    width: 95px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    text-decoration:none;
    /*background-color: #5297ef;
    color: #FFF;*/
    background-color: #fff;
    color: #191919;
}

.choice_button_zt .cur{
    background-color: #5297ef!important;
    color: #FFF!important;
}

.choice_tc{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_tc{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_button_tc .button_tc{
    float: left;
    margin-left: 10px;
    line-height: 25px;
    text-align: center;
    width: 95px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    text-decoration:none;
    /*background-color: #5297ef;
    color: #FFF;*/
    background-color: #fff;
    color: #191919;
}

.choice_button_tc .cur{
    background-color: #5297ef!important;
    color: #FFF!important;
}

.choice_td{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_td{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}



.choice_tz{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_tz{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_button_tz .button_tz{
    float: left;
    margin-left: 10px;
    line-height: 25px;
    text-align: center;
    width: 80px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    text-decoration:none;
    /*background-color: #5297ef;
    color: #FFF;*/
    background-color: #fff;
    color: #191919;
}

.choice_button_tz .cur{
    background-color: #5297ef!important;
    color: #FFF!important;
}

.choice_dt{
    /*float: left;*/
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 0px;
}

.choice_button_dt{
    float: left;
    height: 35px;
    margin-left: 5px;
    margin-right: 10px;
}

.choice_button_dt .button_dt{
    float: left;
    margin-left: 5px;
    line-height: 25px;
    text-align: center;
    width: 70px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    text-decoration:none;
    /*background-color: #5297ef;
    color: #FFF;*/
    background-color: #fff;
    color: #191919;
}

.choice_button_dt .cur{
    background-color: #5297ef!important;
    color: #FFF!important;
}

.title_h2 h2{
    background:#fff;
    border: 0;
}


.choice_fs{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_fs{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_button_fs .button_fs{
    float: left;
    margin-left: 10px;
    line-height: 25px;
    text-align: center;
    width: 80px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    text-decoration:none;
    /*background-color: #5297ef;
    color: #FFF;*/
    background-color: #fff;
    color: #191919;
}

.choice_button_fs .cur{
    background-color: #5297ef!important;
    color: #FFF!important;
}


.choice_nl{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_nl{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_xb{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_xb{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_zd{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_zd{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_tt{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_tt{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_button_tt .button_tt{
    float: left;
    margin-left: 10px;
    line-height: 25px;
    text-align: center;
    width: 95px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    text-decoration:none;
    /*background-color: #5297ef;
    color: #FFF;*/
    background-color: #fff;
    color: #191919;
}

.choice_button_tt .cur{
    background-color: #5297ef!important;
    color: #FFF!important;
}

.choice_tx{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_tx{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_button_tx .button_tx{
    float: left;
    margin-left: 10px;
    line-height: 25px;
    text-align: center;
    width: 80px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    text-decoration:none;
    /*background-color: #5297ef;
    color: #FFF;*/
    background-color: #fff;
    color: #191919;
}

.choice_button_tx .cur{
    background-color: #5297ef!important;
    color: #FFF!important;
}


.choice_cb{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_cb{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_button_cb .button_cb{
    float: left;
    margin-left: 10px;
    line-height: 25px;
    text-align: center;
    width: 80px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    text-decoration:none;
    /*background-color: #5297ef;
    color: #FFF;*/
    background-color: #fff;
    color: #191919;
}

.choice_button_cb .cur{
    background-color: #5297ef!important;
    color: #FFF!important;
}


.choice_sj{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_sj{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_button_sj .button_sj{
    float: left;
    margin-left: 10px;
    line-height: 25px;
    text-align: center;
    width: 80px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    text-decoration:none;
    /*background-color: #5297ef;
    color: #FFF;*/
    background-color: #fff;
    color: #191919;
}

.choice_button_sj .cur{
    background-color: #5297ef!important;
    color: #FFF!important;
}

.choice_sb{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_sb{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_button_sb .button_sb{
    float: left;
    margin-left: 10px;
    line-height: 25px;
    text-align: center;
    width: 80px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    text-decoration:none;
    /*background-color: #5297ef;
    color: #FFF;*/
    background-color: #fff;
    color: #191919;
}

.choice_button_sb .cur{
    background-color: #5297ef!important;
    color: #FFF!important;
}

.choice_tr{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_tr{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_button_tr .button_tr{
    float: left;
    margin-left: 10px;
    line-height: 25px;
    text-align: center;
    width: 80px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    text-decoration:none;
    /*background-color: #5297ef;
    color: #FFF;*/
    background-color: #fff;
    color: #191919;
}

.choice_button_tr .cur{
    background-color: #5297ef!important;
    color: #FFF!important;
}


.choice_ud{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_ud{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}

.choice_button_ud .button_ud{
    float: left;
    margin-left: 10px;
    line-height: 25px;
    text-align: center;
    width: 80px;
    height: 25px;
    font-size: 16px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    text-decoration:none;
    /*background-color: #5297ef;
    color: #FFF;*/
    background-color: #fff;
    color: #191919;
}

.choice_button_ud .cur{
    background-color: #5297ef!important;
    color: #FFF!important;
}

.choice_tn{
    float: left;
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 50px;
}

.choice_button_tn{
    float: left;
    height: 35px;
    margin-left: 20px;
    margin-right: 10px;
}


.choice_tdt{
    /*float: left;*/
    height: 45px;
    /*margin-top: 20px;*/
    margin-left: 0px;
}

.choice_button_tdt{
    float: left;
    height: 35px;
    margin-left: 5px;
    margin-right: 10px;
}

.choice_button_tdt .button_tdt{
    float: left;
    margin-left: 5px;
    line-height: 25px;
    text-align: center;
    width: 70px;
    height: 25px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #e4e4e4;
    border-radius: 8px;
    text-decoration:none;
    /*background-color: #5297ef;
    color: #FFF;*/
    background-color: #fff;
    color: #191919;
}

.choice_button_tdt .cur{
    background-color: #5297ef!important;
    color: #FFF!important;
}
.rank_tdt{
    float: left;
    width: 300px;
    margin-left: 70px;
    margin-top: 50px;
}
.rank_list_tdt{
    margin-top: 10px;
}

/* ****************地图********************************** */
/* 提示自定义 */
.stateTip, #StateTip{display:none; position:absolute; padding:8px; background:#fff; border:2px solid #2385B1; -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px; font-size:12px; font-family:Tahoma; color:#333;}

.mapInfo i{ display:inline-block; width:15px; height:15px; margin-top:5px; line-height:15px; font-style:normal; background:#aeaeae; color:#fff; font-size:11px; font-family: Tahoma; -webkit-border-radius:15px; border-radius:15px; text-align:center}
.mapInfo i.active{background:#E27F21;}
.mapInfo span{ padding:0 5px 0 3px;}
.mapInfo b{ font-weight:normal; color:#2770B5}


/* 地图 注册 */
.regionList{float:left; margin-top:15px;}
.regionList ul{float:left; width:110px; height:100%; margin-right:5px; display:inline; font-family:"微软雅黑"}
.regionList ul li{ height:24px; margin-left:10px; padding:0 0px; border:1px solid #fff; line-height:24px;}
.regionList ul li.select{border:1px solid #D3D3D3; background:#FFF1BF}

.mapInfo i{ display:inline-block; width:15px; height:15px; margin-top:5px; line-height:15px; font-style:normal; background:#aeaeae; color:#fff; font-size:11px; font-family: Tahoma; -webkit-border-radius:15px; border-radius:15px; text-align:center}
.mapInfo i.active{background:#E27F21;}
.mapInfo span{ padding:0 5px 0 3px;}
.mapInfo b{ font-weight:normal; color:#2770B5}

.regionMap{float:left; margin-left:30px; display:inline;}


/* 地图 投资 */
.tenderList{float:left; margin-top:15px;}
.tenderList ul{float:left; width:250px; height:100%; margin-right:5px; display:inline; font-family:"微软雅黑"}
.tenderList ul li{ height:24px; margin-left:10px; padding:0 0px; border:1px solid #fff; line-height:24px;}
.tenderList ul li.select{border:1px solid #D3D3D3; background:#FFF1BF}

.tenderMap{float:left; margin-left:30px; display:inline;}