@charset "utf-8";
/* CSS Document */

*{padding:0;margin:0;  font-family:'微软雅黑';}
a {text-decoration: NONE}
li{list-style:none;}
body{ width:100vw; font-size:62.5%;overflow:-Scroll;overflow-x:hidden;-webkit-user-select: none;  background-color:#1a1a39; position:relative;}

.game_chance_body{ width:100vw; height:155vw; background:url(../images/chance.png) no-repeat; background-size:cover;}
.game_chance_foot{ width:100vw; height:25vw; background:url(../images/chance_foot.png) no-repeat; background-size:cover;}
.game_chance_text{ width:70vw; text-align:center; margin: 0 auto; padding-top:58vw;}
.game_chance_text p{ font-size:4.3vw; color:#fff;}
.game_chance_text table{ font-size:2.8vw; color:#f8c575; text-align:center; margin-top:3vw; padding:1vw 0 ;  border-top:1px solid #ce795e; border-bottom:1px solid #ce795e;width: 100%;}
.game_chance_text table tr{ height:10vw; border-bottom:1px solid #e3737c;}
.game_chance_text table tr:first-child{ height:8vw;  border-bottom:1px solid #e3737c !important;}
.game_chance_text table tr td:first-child{ width:19vw;}
.game_chance_text table tr td:first-child+td{ width:29vw;} 
.game_chance_text table tr td:first-child+td+td{ width:24vw;} 

.game_but{ width:70vw; margin-top:3vw;}
.game_but div{ width:43vw; height:13.4vw; line-height:13vw; margin: 0 auto; text-align:center; color:#e60a00; font-size:4.8vw; background:url(../images/prizebut.png) no-repeat; background-size:cover; font-weight:bold;}
.game_but div:hover{background:url(../images/prizebut1.png) no-repeat; background-size:cover;}
