@charset "utf-8";
.contentright{
    width: 890px;
    float: right;
    background: #fff;
    padding: 16px;
}
.fl{
    float: left;
}
.tabul{
    width: 268px;
    margin: 0 auto;
    margin-top: 33px;
}
.tabli{
    height: 32px;
    line-height: 32px;
    padding: 0 32px;
    border-radius: 20px;
    color: #333333;
    cursor: pointer;
}
.active{
    background: #808ff9;
    color: #fff;
}
.contant{
    width: 855px;
    margin: 0 auto;
}
.gsxxul0{
     width: 855px;
     margin: 0 auto;
     border: 1px solid #e6e6e6;
     margin-top: 20px;
     margin-bottom: 270px;
}
.gsxxli{
    height: 65px;
    line-height: 65px;
    font-size: 14px;
    color: #9e9e9e;
}
.gsxxli01{
    width: 271px;
    padding-left: 38px;
}
.gsxxli02{
    width: 483px;
    padding-left: 60px;
    border-left:1px solid #e6e6e6;
}
.tabEven{
    background: #ffffff;
}
.tabodd{
    background: #f8f8f8;
}
.gsxxli01_01{
    height: 65px;
    line-height: 65px;   
}
.gsxxli01_02{
    line-height: 32.5px;
}
.gsxxli01_03{
    height: 181px;
}
.gsxxli01_04{
    height: 105px;
    line-height: 105px;
}
.gsxxul1{
     width: 855px;
     margin: 0 auto;
     border: 1px solid #e6e6e6;
     margin-top: 20px;
     margin-bottom: 270px;
}
.hide{
    display: none;
}