@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0;  font-family:'微软雅黑';}
a {text-decoration: NONE}
li{list-style:none;}
body{ width:100vw; font-size:62.5%;overflow:-Scroll;overflow-x:hidden;-webkit-user-select: none; background-color:#ececec;  padding-bottom:60px;}
/*top*/
.top{ height:13.5vw; width:100vw; background-color:#5297ef;}
.top1{ float:left; width:7vw; margin-left:4.5vw; margin-top:3.3vw;}
.top1 img{ width:100%;}
.top_title{ float:left;}
.top_title p{ color:#FFF; font-size:4.5vw; line-height:13.5vw; padding-left:27.28vw;}
.top2{ float:right; width:6vw; padding-right:6.5vw; padding-top:4.5vw;}
.top2 img{ width:100%;}
.top3{ float:right; width:0.95vw; padding-top:1.7vw; padding-right:7.5vw;}
.top3 img{ width:100%;}
/*main*/
.main{ background-color:#FFF; width:100vw; height:108vw; margin-top:3vw;}
.main li{ margin-left:8vw; padding-right:8vw; width:84vw; height:18vw; border-bottom:2px solid #ececec; float:left; line-height:18vw;font-size:4vw; }
.main li select{ font-size:2vw; }
.main li span{ float:left; color:#7d7d7d; font-size:4vw; padding-right:6vw;}
.main li input{ color:#c9c9c9; font-size:4.5vw; border:none; outline:none; padding-top:6vw;}
.main li p{ color:#191919; width:40vw; font-size:4.8vw;float: left;}
.main_left{ float:left;}
.main_left_img{ float:left; width:32vw; padding-top:4.4vw; padding-right:3vw;}
.main_left_img img{ width:100%;}
.main_right_img{ float:right; width:2vw; padding-top:1vw;}
.main_right_img img{ width:100%;}
.main_bank{ line-height:12vw; height:12vw; font-size:4vw; padding-left:8vw;}

.button{ margin: 0 8vw auto; padding-top:15vw;}
.button button{ width:84vw; height:13.2vw; background:#00a0e9; border:none; font-size:5vw; color:#FFF; border-radius:1.5vw;}

.yuedu{ margin: 4vw 8vw; margin-bottom:10vw; color:555555; font-size:3.5vw;}
.yuedu input{ width: 4vw; height: 4vw; vertical-align: bottom;}
.yuedu a{ color:#e33709;}


/* *****add********** */
#sure_bank{
	display: block;
}
#bankimg{
	display: none;
}
.screenc-overlay{
	width: 100%;
	height: 100%;
    position: fixed;
    z-index: 900;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-backface-visibility: hidden;
/*    top: 51px;
    bottom: 51px;*/
    opacity: 1;
    /* pointer-events: none; */
    display: none;
}

.main_middle{ float:left; width:20vw; text-align:right; padding-right:3vw;color: #7d7d7d;height: 18vw;line-height: 18vw;}
.main_left_code{ float:left; width:20vw;color: #7d7d7d;}
.main_right_code{ float:right; width:7vw; text-align:right; padding-right:0vw;color: #7d7d7d;}
.main_middle .code{
	height: 12vw;
	line-height: 12vw;
	border: 0;
	width: 25vw;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	font-size: 4vw;
	color: #7d7d7d;
	padding-top: 0;
}
.main_right_code a{color: #7d7d7d; float:right; width:27vw; height:10vw; background-color:#00a0e9; outline:none; border:none; border-radius:5vw; margin-top:4vw; color:#FFF; font-size:4.5vw;line-height: 10vw;text-align: center}

.main_left_area{ float:left; width:28vw;color: #7d7d7d;}

#province{
	height: 10vw;
	line-height:10vw;
	border-radius:3px;
	border: 0px;
	width: 25vw;
}

#city{
	height: 10vw;
	line-height:10vw;
	border-radius:3px;
	border: 0px;
	width: 25vw;
}

.main_left_bank{ float:left; width:20vw;color: #7d7d7d;}
.main_right_bank{ float:right; width:7vw; text-align:left; padding-right:0vw;color: #7d7d7d;}
.main_middle .code{
	height: 12vw;
	line-height: 12vw;
	border: 0;
	width: 25vw;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	font-size: 4vw;
	color: #7d7d7d;
	padding-top: 0;
}
.main_right_bank a{color: #7d7d7d; float:right; width:17vw; height:10vw; background-color:#00a0e9; outline:none; border:none; border-radius:5vw; margin-top:4vw; color:#FFF; font-size:4.5vw;line-height: 10vw;text-align: center}