@charset "utf-8";
/* CSS Document */
*{padding:0;margin:0;  font-family:'微软雅黑';}
a {text-decoration: NONE}
li{list-style:none;}
body{ width:100vw; font-size:62.5%;overflow:-Scroll;overflow-x:hidden;-webkit-user-select: none; background-color:#ececec;  padding-bottom:60px;}
/*top*/
/*.top{ height:48px; width:100%; background-color:#5297ef;}
.top1{ float:left;}
.top1 img{ width:28px; padding-left:14px; padding-top:10px;}
.top_title{ float:left;}
.top_title p{ color:#FFF; font-size:17px; line-height:43px; padding-left:26vw;}
.top2{ float:right;}
.top2 img{ width: 22px; padding-right:15px; padding-top:16px;}
.top3{ float:right;}
.top3 img{ width:4px; padding-top:3px; padding-right:15px;padding-left:14px;}*/
.top{ height:13.5vw; width:100vw; background-color:#5297ef;}
.top1{ float:left; width:7vw;margin-left:4.5vw; margin-top: 3.3vw; }
.top1 img{ width:100%;}
.top_title{ float:left;}
.top_title p{ color:#FFF; font-size:4.5vw; line-height:13.5vw; padding-left:32.53vw;}
.top2{ float:right; width:6vw; padding-right:6.5vw; padding-top:4.5vw;}
.top2 img{ width:100%;}
.top3{ float:right; width:0.95vw; padding-top:1.7vw; padding-right:7.5vw;}
.top3 img{ width:100%;}
/*article文章*/
.article{ height:80vw;}
.article div{ color:#0d7abf; text-align:center; padding:4vw 0; }
.article div img{ width:20.15%;}
.article p{ font-size:3.5vw; width:90vw; margin: 0 auto; text-align:justify; color:#5d5d5d;}
/*main*/
.main{ background-color:#FFF; height:70vw;}
.main li{ height:14.06vw;}
.main li img{ width:5.62%; padding-left:5%; padding-top:5%; float:left;}
.main_li{ border-bottom:1px solid #d0d0d0; width:87%; float:right;}
.main_li_last{ border:none;}
.main_li_left{ float:left; line-height:14vw; font-size:5vw;color:#000;}
.main_li_right{ float:right; line-height:14vw; padding-right:5vw; font-size:4vw; color:#5d5d5d;}
.main_li_right_img{width: 3.3vw;margin-top: 4vw;}
div.main_li_right_img img{ width:100%;}
/*zhujiao*/
.zhujiao{ text-align:center; height:9vw; padding-top:2.5vw;}
.zhujiao p{ width:100vw; height:4vw; font-size:3vw; color:#c5c5c5;}

