@charset "utf-8";
.screenc-overlay{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9900;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
  opacity: 1;
  display: none;
}
.overlay-content{
  width: 100%;
  height: 100%;
  /*left:0px;
  top:0px;*/
  /*position: fixed;*/
  position: absolute;
  z-index: 9950;
  display: none;
}

.overlay-tixing{
  left:22vw;
  top:30vw;
  position: absolute;
  width: 52vw;
}


.overlay-jiesuo{
  left:37vw;
  top:51vw;
  position: absolute;
  width: 24vw;
}


.overlay-guanbi{
  left:65vw;
  top:39vw;
  position: absolute;
  width: 3.3vw;
}



.overlay-tixing-img{
  width: 100%;
}
.overlay-jiesuo-img{
  width: 100%;
}
.overlay-guanbi-img{
  width: 100%;
}
