@charset "utf-8";
.screenc-overlay{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 999000;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  -webkit-backface-visibility: hidden;
  opacity: 1;
  display: none;
}
.overlay-content{
  width: 100%;
  height: 100%;
  /*left:0px;
  top:0px;*/
  /*position: fixed;*/
  position: absolute;
  z-index: 999500;
  display: none;
}

.overlay-jiantou{
  left:125px;
  top:210px;
  position: absolute;
}

.overlay-tixing{
  left:330px;
  top:20px;
  position: absolute;
}

.overlay-jiesuo{
  left:440px;
  top:165px;
  position: absolute;
}

.overlay-guanbi{
  left:645px;
  top:95px;
  position: absolute;
}

