@charset "utf-8";
/* CSS Document */



div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,p,body{
	padding:0;
	margin:0;
}
ul,li{
	 list-style:none;
}
img{
	border:0 none;
}
a{ 
	text-decoration:none;
	font-family:"微软雅黑";
	
}

body{
	padding:0px 0px;
	margin:0px 0px;
	font-family:"微软雅黑"
}

html,body{

      -webkit-text-size-adjust:none;

}


/*分页*/
div.pager
{
	font-size:12px;
	text-align:center;
	margin:10px auto 0;
	padding-bottom:3px;
}
div.pager span
{

	margin-left:8px;
	margin-right:8px;
}
div.pager a
{
	margin-left:8px;
	color:#000;
	margin-right:8px;
	text-decoration:none;
}
