@charset "utf-8";
/* CSS Document */"; 
.clearfix:after { content: '.'; display: block; clear: both; height: 0; visibility: hidden; }
.clearfix { zoom: 1; }
#m-titlebox{width:1000px;margin:0 auto;}
.m-title{ height:40px;overflow:hidden;width:1000px;margin:0 auto; line-height:40px;border-bottom-color: #ccc;border-bottom-style: solid;border-bottom-width: 1px;}
.icon-m-title{background-image:url(../images/icn01.png); margin:14px 22px 10px 22px;height:15px; width:18px; display:block;}
.m-left{height:60px;width:500px;}
.f-left{ float:left;}
.f-right{ float:right;}
.m-news{font-family:"微软雅黑"; font-size:14px;color:#4e4e4e;}
.m-time{ margin-left:102px;font-family:"微软雅黑"; font-size:14px;color:#999;}
.m-text{ margin-right:10px;font-family:"宋体"; font-size:14px;color:#f8725b;}
.m-line{ display:block;height:40px; width:1px; border-right:solid 1px #e6e6e6;margin-top:10px;}
.m-right{font-size:13px;float:right}
.m-right span{color:#10c6f9;font-size:16px;}
.Products-list{ overflow:hidden;width:1000px; margin:10px auto 0px auto;background-color:#FFF;padding:10px 0px;}
.h-w{width:160px;}
.l-current{ margin:0px;}
.h-w-img{height:108px; width:160px; background-repeat:no-repeat; background-position:center;}
.h-title{color:#0053a8; line-height:28px;font-size: 18px;}
.pt{ height:50px; font-size:14px;color:#979797;}

.shop-menu{overflow:hidden;width:1000px; height:206px; border:solid 1px #ebebeb;margin:0 auto; background-color:#fff;}
.shopright{ float:right; width:300px;height:204px;background-image:url(../images/tid.png);}
.shoptop,.shop-con,.shopbtt{ padding-left:62px;height:30px;width:236px; line-height:30px;}
.shop-con{color:#ff6802; font-family:"宋体"; font-size:18px;}
.shopMiddle{height:98px;width:300px;}
.shopbtt{color:#b2b2b2; font-size:12px;font-family:"宋体";}
.shopleft,.shopimg-hw,.shop-hp{ float:left;}
.shopleft{ margin-left:10px;}
.shop-hw{ overflow:hidden;float:left;height:206px; width:220px;}
.shopimg1{ background-image:url(../images/column07.png);}
.shopimg2{ background-image:url(../images/column08.png);}
.shopimg3{ background-image:url(../images/column09.png);}
.shopimg-hw{width:102px; height:206px; background-repeat:no-repeat; background-position:center;}
.shop-hp{width:98px; height:206px; padding-top:58px;}
.shop-hp h2{line-height:30px; font-size:22px;text-align:center; color:#4e4e4e;font-family:"微软雅黑"}
.shop-hp p{ line-height:22px;color:#f8725b; font-size:14px;}

.partner-cont{ height:206px;width:1000px; border:solid 1px #6b94b3; margin:0 auto; background-color:#fff;}
.partner-tit{ height:60px;width:1000px; border-bottom:solid 1px #e8e9eb;}
.partner-tit h5{ margin-left:20px;font-size:18px;color:#4b5e6f; line-height:60px;}
.partner-left{ margin-left:10px;float:left;height:146px;width:56px; margin-right:24px;}
.partner-list{ float:left;height:106px;width:800px;padding:20px 10px;}
.partner-list ul li{float:left;height:106px; width:154px; margin:0 3px;}
.partner-right{ float:left;height:146px;width:56px; margin-left:24px;}
.hzicon1,.hzicon2,.hzicon3,.hzicon4,.hzicon5{background-repeat:no-repeat;}
.hzicon1{ background-image:url(../images/hzicon1.png);}
.hzicon2{ background-image:url(../images/hzicon2.png);}
.hzicon3{ background-image:url(../images/hzicon3.png);}
.hzicon4{ background-image:url(../images/hzicon4.png);}
.hzicon5{ background-image:url(../images/hzicon5.png);}
.partner-cont span{ display:inline-block; margin:53px 0;}
.partner-cont span:hover{ background-color:#f5f5f5;}
.partner-left span{ float:right;height:40px; width:24px; background-image:url(../images/jtleft.png);}
.partner-right span{ float:left;height:40px; width:24px; background-image:url(../images/jtright.png);}


.tabbox{ position:relative;width:1000px;margin:10px auto;border:1px solid #6a9cc3;}
.nav-list{ position:absolute;top:40px; left:-54px;height:160px; width:54px;}
.nav-list span{ display:block;padding-top:10px; text-align:center;}
.nav-list li{height:80px;width:54px;}
.nav-0 a,.nav-1 a{font-family:"微软雅黑";font-size:18px;color:#FFFFFF;line-height:28px; text-align:center;}
.nav-0,.nav-1{height:80px; width:54px; background-image:url(../images/dt-hov01.png);}

.nav-cus-0,.nav-cus-1{ background-image:url(../images/dt-hov02.png);}

.nav-0 a,.nav-1 a{font-family:"微软雅黑";color:#666;line-height:28px;font-size:18px;}
.nav-cus-0 a,.nav-cus-1 a{font-family:"微软雅黑";color:#fff;line-height:28px;font-size:18px;}
.contant{height:642px;width:1000px;overflow:hidden;position:relative; background-color:#fff;}
.inner{width:2000px;height:642px;position:relative;}
.contant-con{float:left;width:1000px;height:642px;}

.contant-center{width:1000px;float:left;}
.contant-right{width:1000px;float:left;}
.contant-center-top ul li{float:left;}
.contant-center-top{ width:974px; border-bottom:1px solid #d5d5d5;height:40px; line-height:40px; padding-right:26px; background-color:#fafafa;}
.tabs{position:relative;float:left; line-height:40px;}
.hightbg .moving_bg{border-left:1px solid #ccc;border-right:1px solid #ccc;border-top:2px solid #d52b30;height:40px;padding:0;position:absolute;z-index:190;width:108px;background:#fff;left:0;}
.hightbg .tab_item{ float:left;width:108px;text-align:center; font-size:18px; z-index:200;position:relative;cursor:pointer;color:#444;height:40px;line-height:40px;}
.hightbg .bg_or02{border-top:1px solid #f4854b;}
.hightbg .bg_or01{border-top:1px solid #009de0;}
.wid290{width:1000px;}
.hei640{height:640px;}
.xiaoxi{text-align:right; font-size:18px;}
.xiaoxi a{color:#ff927c;font-size:18px;}
.ullist_dott{width:1000px;}
.uilistwh{ height:200px;border-bottom:solid 1px #ccc;}
.ullist-left{ padding:20px 0px 20px 22px;float:left;width:678px; height:160px;}
.ullist-right{float:right; height:164px;width:256px; padding:18px 22px;}
.ullist_dott span{color:#444;height:40px;overflow:hidden;}
.slide_content{overflow:hidden;position:relative;_position:inherit;}
.tabslider{width:5000px;}
.tabslider ul,.hei-wlist,.tit{float:left;}
.hei-wlist{height:260px; width:300px; background-repeat:no-repeat; margin:40px 0px 0px 25px;}
.hei-wlist span{height:86px; width:300px; display:block;}
.hei-wlist p{height:86px; width:130px;margin:0 85px; font-family:"微软雅黑"; font-size:14px;}
.hei-wlist a{color:#383838;}
.ui-p{ display:block;height:30px;width:90px; margin:8px 105px; background-image:url(../images/green2.png); text-align:center;}
.ui-p a{color:#fafafa; line-height:28px; font-size:14px;}
.bg-list1{background-image:url(../images/cp1.png);}
.bg-list2{background-image:url(../images/cp2.png);}
.bg-list3{background-image:url(../images/cp3.png);}
.bg-list4{background-image:url(../images/cp4.png);}
.bg-list5{background-image:url(../images/cp5.png);}
.bg-list6{background-image:url(../images/cp6.png);}
.cont-titbox{overflow:hidden;}
.tit-hw{ display:block;width:226px; height:36px;line-height:36px; font-size:14px; font-family:"微软雅黑";}
.ullist-left h3{font-size:18px; font-family:"微软雅黑"; font-weight:normal; margin:6px 0px 8px 0px; padding:0; color:#333;}
.t-number{color:#f86d10;font-size:20px;margin:0px 6px;}
.red-number{color:#f71636;font-size:20px; font-weight:bold;font-weight:bold; margin:0px 6px;}
.Black-numder{color:#151515; font-size:20px; margin:0px 6px;}
.dis-btn{display:block;height:30px; width:100px; margin:4px 76px 8px 10px; text-align:center; line-height:30px;background-image:url(../images/cbtn.png);}
.fn-cle{display:block;height:20px; width:70px; margin:6px 78px 6px 0px;text-align:center; line-height:20px; background-image:url(../images/inbtn.png);}
.cont-titbox .ico-hw{ margin-top:8px; display:block;width:226px; height:42px;line-height:42px; font-size:14px;font-family:"微软雅黑";}
.tit-hw a{color:#fff;}
.ico-hwb{ margin-top:8px; display:block;width:266px; height:42px;line-height:42px; font-size:14px;font-family:"微软雅黑";}
.ico-hwc{ margin-top:8px; display:block;width:186px; height:42px;line-height:42px; font-size:14px;font-family:"微软雅黑";}
.icn-bar{ margin:0 16px;background-image:url(../images/jdt1.png); height:13px; width:160px;background-repeat:no-repeat; display:inline-block;}
.ico-hwb em{color:#539fe3;}


#postbox{width:1000px;margin:auto;margin-top:15px;background-color:#fff;padding:10px 0px;text-align:center;}
#tzbox{width:1000px;margin:auto;border-top:0px;background-color:#fff;}
.tz{padding:20px 20px;}
.tz-title{font-size:18px;color:#4b4b4b;margin-bottom:10px;}
.tz-item{float:left;padding:10px 0px;width:250px;font-size:15px;color:#4b4b4b;}
.tz-font1{font-size:18px;color:#f86d10;margin-left:15px;}
.tz-font2{font-size:18px;color:#000;margin-left:15px;}
.tz-show{padding:10px 0px;}
.tz-a1{padding:0px 5px;background-color:#10c6f9;color:#fff;font-size:14px;}
.tz-jdt{position:absolute;margin-left:720px;margin-top:-90px;}
.tz-bt{position:absolute;margin-left:830px;margin-top:-70px;}
.tz-xy{position:absolute;margin-left:15px;margin-top:-10px;}
#partbox{width:1000px;margin:auto;margin-top:15px;margin-bottom:30px;background-color:#fff;}
.partbox-ico{margin:5px 0px;}
.partbox-k1{float:left;width:165px;height:86px;border:0px;text-align:center;}
.partbox-k2{float:left;width:165px;height:80px;border:0px;text-align:center;}

map area{ outline: none; }

/*add 9-19*/
.in_probox{width: 1000px;margin: 0 auto;}
.in_list_title{width: 1000px; border-bottom:3px solid #0053a8; padding-bottom: 8px;}
.in_loan{width:1000px; margin-left: auto; margin-right: auto;position: relative;left: -10px;margin-top: 15px;}
.in_w1000{width: 1000px;}
.in_on{font-size: 18px;color: #000;}
.in_in{float: right;color: #0053a8;font-size: 14px;}
.in_li_content{float: left;padding-left: 1.5px;height: 240px;overflow: hidden;}
.in_sbtimg{display: block;margin-top: 15px;width: 104px;height: 104px;padding-left: 30px;padding-top: 44px;}
.in_lc_bt{font-size: 18px;color: #000000;text-align: center;width: 165px;}
.in_slc_mc{font-size: 14px;color: #999999;text-align: center;width: 165px;display: block;margin-top: 5px;}
.ty{display: block;width: 165px;height: 39.28px;background: #0053a8;color: #fff;font-size: 16px;line-height: 39.28px;text-align: center;}
.mmr25{margin-bottom: 25px;}
.lc2_content{clear: both;margin-top: -30px;}
.in_loan2{width:1000px; margin-left: auto; margin-right: auto;position: relative;left: -10px;}
#loan-list-header{height: 40px;line-height: 40px;background:#fbfbfb;}
.in-ui-list-more{width:1000px;margin:0 auto;font-size: 14px;height: 56px;min-width: 50px;display: inline-block;text-align: center;text-decoration: none; vertical-align: middle;cursor: pointer;padding: 0 15px;border-bottom: none;box-shadow: none;background: #fbfbfb;}
#indarkgray{display: block;border: 1px solid #115eae;width: 214px;height: 27px;margin: 0 auto;margin-top: 14px;line-height: 27px;color: #115eae;font-size: 14px;border-radius: 16px;}
.in_oneyear{width: 1000px;}
.in_yearleft{width: 71px;height: 212px;display: block;float: left;}
.in_yearright{width: 925px;float: left;}
.in_profirst{width: 925px;height:98px;border: 1px solid #e3e3e3;}
.in_pcontent1{padding-left: 53px;padding-top: 28px;float: left;width: 96px;}
.in_onep_1{font-size: 12px;color: #fff;text-align: center;width: 47px;height: 18px;background: #ff7301;line-height: 18px;border-radius: 2px;margin:0 auto;}
.in_pomc1{color: #000;font-size: 20px;text-align: center;}
.in_pcontent2{float: left;padding-top: 22px;padding-left: 70px;width: 135px}
.in_onep_2{font-size: 22px;color: #ff7301;text-align: center;}
.in_pomc2{font-size: 16px;color: #999;text-align: center;}
.in_pcontent3{float: left;padding-top: 22px;padding-left: 63px;width: 60px;}
.in_onep_3{font-size: 22px;color: #2e2e2e;text-align: center;}
.in_pomc3{font-size: 16px;color: #999;text-align: center;}
.in_pcontent4{float: left;padding-top: 22px;padding-left: 57px;width: 71px;}
.in_onep_4{font-size: 22px;color: #2e2e2e;text-align: center;}
.in_pomc4{font-size: 16px;color: #999;text-align: center;}
.in_pcontent5{float: left;padding-top: 29px;width: 118px;padding-left: 60px;}
.in_onep_5{font-size: 16px;color: #999999;text-align: center;}
.in_pomc5{font-size: 16px;color: #999999;text-align: center;}
.in_ptouzi{width: 93px;height: 26px;display: block;background: #ffab19;float: left;text-align: center;line-height: 26px;color: #fff;margin-top: 37px;margin-left:38px;}
.in_ptouzi:hover{color: #fff}
.in_prosecond{width: 925px;height:98px;border: 1px solid #e3e3e3;margin-top: 11px;}
.in_twoyear{width: 1000px;margin-top: 15px;}
.in_onepttb{font-size: 12px;color: #fff;text-align: center;width: 58px;height: 18px;background: #e52222;line-height: 18px;border-radius: 2px;margin:0 auto;}
.in_threeyear{width: 1000px;margin-top: 15px;}
.in_fouryear{width: 1000px;margin-top: 15px;}
.in_year2left{width: 71px;height: 324px;float: left;}
.in_protried{width: 925px;height: 98px;border: 1px solid #e3e3e3;margin-top: 13px;}
.padd3{padding-top: 3px;}
.in_texiao{background:#fafafa;}
.in_ptpuzi2{background:#ff6a19;}
/*	add 10-14*/
.in_licaijsq{position: fixed; top:50%; margin-top:58px; left:50%; margin-left:508px;z-index:99;display: block;width: 263px;z-index: 100010}
.in_licaitopimg{width: 263px;height: 78px;display: block;background: url(/static/hrzhang/images/in_licaitop.png);position: relative;display: block;}
.in_licaitopimg2_index{width: 59px;height:177px;display: block;background: url(/static/hrzhang/images/in_licaitop2.png);display: none;cursor: pointer;position: relative;}
.in_suohui{width: 66px;height: 31px;position: absolute;right: 0;margin-top:46px;background: url(about:blank);cursor: pointer;}
.in_licaitopimg2{position: absolute;bottom:8px;left:9px;width: 38px;height: 49px;background: url(about:blank);cursor: pointer;}
.in_licaijsqdown{width: 261px;border: 1px solid #82abff;}
.in_yellowbj{width: 249px;height: 137px;background: #fff9e9;margin: 0 auto;margin-top: 5px;position: relative;}
.in_ybjnr1{font-size: 12px;color: #000000;line-height: 18px}
.in_ybjnr2{font-size: 12px;color: #000000;line-height: 18px;overflow: hidden;padding-left: 5px;margin-left: 3px;color:#c2c2c2 }
.in_ybjnr03{font-size: 12px;color: #000000;line-height: 18px;padding-left: 5px}
.in_ybjnr3{font-size: 12px;color: #000000;line-height: 18px;overflow: hidden;padding-left: 5px;margin-left: 3px;width: 112px;background: #fff;}
.in_ybjnr4{font-size: 12px;color: #000000;line-height: 18px;overflow: hidden;padding-left: 5px;margin-left: 3px;width: 113px;background: #fff;}
.in_ybjnr5{font-size: 12px;color: #000000;line-height: 18px;overflow: hidden;padding-left: 5px;margin-left: 3px;width: 112px;background: #fff;}
.in_ybjnr6{font-size: 12px;color: #000000;line-height: 18px;overflow: hidden;padding-left: 5px;margin-left: 3px;width: 89px;background: #fff;}
.in_ybjnr7{font-size: 12px;color: #000000;line-height: 18px;overflow: hidden;padding-left: 5px;margin-left: 3px;width: 106px;background: #fff;}
.in_ybjnr8{font-size: 12px;color: #000000;line-height: 18px;overflow: hidden;padding-left: 5px;margin-left: 3px;width: 106px;background: #fff;}
.in_ybjnr9{font-size: 12px;color: #000000;line-height: 18px;padding-left: 5px;}
.in_ybjnr10{font-size: 12px;color: #000000;line-height: 18px;padding-left: 5px;width: 89px;margin-left: 27px;background: #fff;}
.in_ybjqk1{width: 229px;margin:0 auto;padding-top: 5px;}
.in_ybjqk2{width: 229px;margin:0 auto;padding-top: 5px;}
.in_ybjqk3{width: 229px;margin:0 auto;padding-top: 6px;}
.in_ybjqk4{width: 229px;margin:0 auto;padding-top: 5px;}
.in_ybjqk5{width: 229px;margin:0 auto;padding-top: 5px;}
.in_ybjqk6{width: 229px;margin:0 auto;padding-top: 5px;padding-bottom: 10px;}
.in_ybjqk7{width: 229px;margin:0 auto;padding-top: 5px;}
.in_ybjqk8{width: 229px;margin:0 auto;padding-top: 5px;}
.in_ybjqk9{width: 229px;margin:0 auto;padding-top: 5px;}
.in_ybjqk10{width: 229px;margin:0 auto;padding-top: 5px;padding-bottom: 10px;}
#selYear{width: 58px;height: 23px;font-size: 12px}
#selMonth{width: 41px;height: 23px;margin-left: 5px;font-size: 12px}
#selDay{width: 41px;height: 23px;margin-left: 5px;font-size: 12px}
#in_tzcp{width: 159px;}
.in_ksjs{width: 230px;height: 29px;background: #ff9519;margin:0 auto;margin-top: 12px;line-height: 29px;text-align: center;cursor: pointer;color: #fff;}
.in_jszhezhao{width: 230px;height: 29px;position: absolute;top:96px;left: 10px;background: url(about:blank);display: none;}
.bluebj{width: 249px;background: #e8f7ff;margin: 0 auto;margin-top: 5px;margin-bottom: 5px;}

/*20170209  元宵活动页面*/
.lanfest{background: #000;filter: alpha(opacity=60);opacity: 0.5;background: rgba(0,0,0,0.35);width: 100%;height: 100%;position: absolute;top: 0;left: 0;z-index: 100011;}
.festday{position: fixed;top: 50%;left: 50%;margin-top: -262px;margin-left: -377px;width: 730px;z-index: 100012}
.lastimg{width: 730px;height: 430px;display: block;}
.guanbi{width: 48px;height: 48px;margin: 0 auto;margin-top: 20px;cursor: pointer;}
.lastguanbiimg{width: 48px;height: 48px;}

/*20170210  去除新浪*/
.in_inproduct{width: 230px;overflow: hidden;float: left; margin-left: 55px;margin-right: 15px;}
.pro-img01{width: 86px;height: 86px;display: block;float: left;margin-top: 10px;}
.h-p1{margin-top: 22px;padding-left: 10px;}
.index-plan-list{width: 920px;margin: 0 auto;}

/*2017-8-30*/
.in_onep_5new{
	font-size: 16px;
    color: #999999;
    text-align: center;
    line-height: 100px;
    width: 118px;
    padding-left: 60px;
    float: left;
}
   